In [42]:
msg='Bunty \n' \
    'is a Good' \
        'Boy'
print(msg)

Bunty
is a GoodBoy

In [43]:
#Calander using python
import calendar
print(calendar.calendar(2024))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [44]:
#addition
a=1+2+3 \ 
    +2+4
print('output',a)

SyntaxError: unexpected character after line continuation character (189688551.py, line 2)

In [ ]:
s1='Rama'
s2="Rama"
s3='''Rama'''
s4="""Rama"""
print(s1,s2,s3,s4)
print(id(s1))#show the memory location of the variable
type(s1)#show The data type

Rama Rama Rama Rama
2957401995056

str

In [ ]:
#comments in pythonðŸ
# the comment is a program readable Exaclamination in python.
#  Comments are added with the putpose of making the source code for humans to understand and ignore by the interpreter.
# -> this is useed to make the line comment out

# for multiline comment we use triple quotes 

""" print("hello Geeks")
    print("hello Geeks")
    print("hello Geeks")
    print("hello Geeks")
"""

'print("hello Geeks")\n    print("hello Geeks")\n    print("hello Geeks")\n    print("hello Geeks")\n'

In [ ]:
x,y='apple',34
print(type(x),type(y))#
a=b=c='bunty'
print(a,b,c)

<class 'str'> <class 'int'>
bunty bunty bunty

In [ ]:
fruits=['apple','banana','orange']
x,y,z=fruits
print(x,y,z)

apple banana orange

In [ ]:
#multiple assignment using list
fruits=['apple','banana',6.45,300]
x,y,z,w=fruits
print(x,y,z,w)

apple banana 6.45 300

In [ ]:
#interview Questions
a,b="pq"
b,c="rs"
print(a,b,c)

p r s

In [ ]:
a=input()
a,type(a)
472

472

In [ ]:
a=int(input("give 1st no:"))
b=int(input("give 2nd no:"))
print("the sum is",a+b)

the sum is 134

In [ ]:
print('the value of a is =',"abc")
print('the value of a is ='+"abc")

the value of a is = abc
the value of a is =abc

In [ ]:
print(1,end="")
print(2,end="")
print(3,end="")

123

In [ ]:
print(1,2,3,4)
print(1,2,3,4,sep='*')
print(1,2,3,4,sep='*',end='#')

1 2 3 4
1*2*3*4
1*2*3*4#

In [ ]:
#Datatypes in pythons
x=10
y="bunty"
z=0.56j
a=3.45
b=['apple','banana','orange']#list
c={'name':'bunty','age':23,'gender':'male'}#dictionary
d=(1,2,3,4,5)#tuple
e=True #Boolean
f=None #none
g = {'apple', 'banana', 'cherry'}#set
h= range(9)
print(h)
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(y[0],y[1],y[2],y[3],y[4])
type(x),type(y),type(z)

range(0, 9)
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'bool'>
<class 'NoneType'>
<class 'set'>
b u n t y

(int, str, complex)

g = {'apple', 'banana', 'cherry'}#set
print(g)
h=set("bunty")
for i in h:
    print(i)
h.add('munty')
print(h)
h.remove('y')
print(h)

In [ ]:
def name():
    a=10
    print(m1())

In [ ]:
#operators
a=12
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)#here it give the output in float
print(a//b)#here it give the output in integer
print(a%b)
print(a**b)

15
9
36
4.0
0
1728
4

In [ ]:
#relational operators
#here the output is in boolean
a=10
b=3
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [ ]:
# logical operators
a=True
b=False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
#bitwise operators
a=10
b=4
print(a&b)
print(a|b)
print(a^b)
print(a<<b)#left shift
print(a>>b)#right shift

0
14
14
160
0

In [ ]:
#assignment operators
a=10
a+=3
print(a)
a-=3
print(a)
a*=3
print(a)
a/=3
print(a)
a//=3
print(a)
a**=3
print(a)
a%=3
print(a)

13
10
30
10.0
3.0
27.0
0.0

In [ ]:
#special operators
a=10
b=3
print(id(a))
print(id(b))
print(a is b)
print(a is not b)

140728702354504
140728702354280
False
True

In [ ]:
#membership operators
a='apple'
b='apple'
print(a in b)
print(a not in b)
#We can take list as membership operators
a=[1,2,3,4,5]
b=[1,2,3,4,5]
print(a in b)
print(a not in b)

True
False
False
True

In [ ]:
#Enter two integer from keyboard and perform all the arithmatic operations
# Enter two integers from the keyboard
num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))

# Perform arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
exponentiation = num1 ** num2
modulus = num1 % num2

# Print the results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Exponentiation:", exponentiation)
print("Modulus:", modulus)

Addition: 15
Subtraction: 9
Multiplication: 36
Division: 4.0
Floor Division: 4
Exponentiation: 1728
Modulus: 0

In [ ]:
import math 
print(m.pi)
print(m.e)
print(m.tau)
print(m.inf)
print(m.nan)

3.141592653589793
2.718281828459045
6.283185307179586
inf
nan

In [ ]:
# write a program to findout the area of the circle
r=int(input("enter the radius of the circle:"))
area=m.pi*r**2
print("the area of the circle is",area)

the area of the circle is 50.26548245743669

In [ ]:
#wrtie a program to read employedata from keyboard and prind the data
name=input("enter the name:")
age=int(input("enter the age:"))
salary=float(input("enter the salary:"))
print("the name is",name)
print("the age is",age)
print("the salary is",salary)

the name is Ramakrushna Biswal
the age is 20
the salary is 1200000.0

In [ ]:
#if condition 
a=10
b=20
if a<b:
    print("a is less than b")
else:
    print("a is greater than b")

a is greater than b

In [ ]:
#elif condition
a=10
b=20
c=30
if a<b:
    print("a is less than b")
elif a<c:
    print("a is less than c")
else:
    print("a is greater than b and c")

a is less than b

In [ ]:
#write a program to find biggest of given three number from command promt
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
if num1 > num2 and num1 > num3:
    biggest = num1
elif num2 > num1 and num2 > num3:
    biggest = num2
else:
    biggest = num3
print("The biggest number is:", biggest)

The biggest number is: 89.0

In [ ]:
#write a program to check wheather the given number is even or odd
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(num, "is an even number")
else:
    print(num, "is an odd number")

5 is an odd number

In [ ]:
#write a program to check weather the given number is in between 1 to 100
num = int(input("Enter a number: "))
if num >= 1 and num <= 100:
    print("The number is in between 1 and 100")
else:
    print("The number is not in between 1 and 100")

The number is not in between 1 and 100

In [ ]:
# Example of a for loop
x=("ramakrushna","bunty","lucky")
for i in x:
    print(x,i)
# for i in range(5):
#     print(i)

('ramakrushna', 'bunty', 'lucky') ramakrushna
('ramakrushna', 'bunty', 'lucky') bunty
('ramakrushna', 'bunty', 'lucky') lucky

In [ ]:
#print hello world 10 number of times
for x in range(10):
    print("Hello, world!")

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [ ]:
#write a program to display sum of the number present in a list
l=[1,2,3,4,5,6,7,8,9,10]
sum=0
for x in l:
    sum=sum+x
print(sum)

55

In [ ]:
#write a program to display  1 to 10 in descending order
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

If we want  to execute a group of state ment itratively, until the consdition is false then we should go for while loop.

In [ ]:
#write a program  to print 1 to 10 using while loop
num = 1
while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#write a program to display sum of the 1st n numbers
n=int(input("enter the number:"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i+=1
print(sum)

15

In [ ]:
#write a star pattern using for loop
n=10
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
#write a star pattern to draw full-pyramid
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print("*", end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=6
for i in range(n):
    for j in range(n-i-1):
        print(end=" ")
    for j in range(i+1):
        print("*",end= " ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

Transform statement
break-----> it is used to inside a loop to break the loop execution based on some condition

In [ ]:
#write a program to display 0 to 10 when a=7 we have to stop the loop execution
for i in range(10):
    if i==7:
      break
    print(i)

0
1
2
3
4
5
6

We can use continue statement tp skip the current iterration and continue the next iterration

In [ ]:
cart=[10,20,400,30,0,79]
for item in cart:
    if item>=300:
        print("Limit reached")
        continue
    print(item)

10
20
Limit reached
30
0
79

In [ ]:
#write a program to display odd number in range 0 to 9
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

Pass statement

some timw in thw parent class we have to declear a function with empty body and child class is responsible to provide proper implementation such type  of empty body we can define by using pass keyword.

In [ ]:
def name():
 pass

In [ ]:
#write a program to display the divisible of 9 in range 0-100 by using pass satements
for i in range(0,100):
    if i%9==0:
      print(i)
    else:
        pass

0
9
18
27
36
45
54
63
72
81
90
99

Del statement
del is a keyword in python after using a variable it is highly recommanded to delete that variable if it is no longer required, so that the coresponding object eligible for garbage collection we can delte a variable by using 'del' keyword

we can delte variable which is pointing to inmutable object,but we cann't delete the element which are present inside the inmutable object

in the case of del the variable can be removed and we can'nt access the variable we can say it is [unbined operation]

but in case 'none' assignment the variable will not be removed and the coressponding operation called rebined opration hance after assigning with null value we can access that variable.

<!-- PYTHON STRING  -->

the most commonly used object in any project and in any programming language is string only 

what is string?
ans)
any sequence of char with in either single qoute or double quote is consider as string 

syntax:
    'bunty'
    "Rama"

how to define multiline string we can define multiline string literrals by using triple single or double quotes[''' string''']

In [ ]:
s='''bunty
python
solutions
'''
print(s)

bunty
python
solutions

how to acess the char from a string ------> we can access a character in string by using index and slice opreator

In [ ]:
r="ramakrushna"
r[1]

'a'

In [ ]:
# write a program to accept a string and display its  charactor indexwise
r="ramakrushna"
for i in range(len(r)):
    print('index',i,r[i])
    # print('index',i,r[-i])

index 0 r
index 1 a
index 2 m
index 3 a
index 4 k
index 5 r
index 6 u
index 7 s
index 8 h
index 9 n
index 10 a

Accessing element using slice operator
from where to consider the slice (start index)
from where we wnd the slice(end index)

behaviour of slice operaot
1)step value can be positive or -ve,if the step value is postive then it should be in forward direction[means left to right] and we have to consoder begin index to end -1
2)if the step is -ve then it should be in backward direction and we have to consider begin to end+1
3)in backward direction if end value is -1 then ewsult will alwayes empty
4)in forward direction if end value is zero then result is empty


we can use comparission operator for string
in string we will comapre the alphabetical orderwise

In [9]:
s="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
# s[1:8]
# s[1:8:2]
# s[:7]
# s[1:7:2]
# s[::1]
s[::-1]

'ZYXWVUTSRQPONMLKJIHGFEDCBA'

In [ ]:
print('Rama '+'bunty')
print('bunty '*4)
# write a program to access each character of string in forward and backward direction by using while loop
def access_characters(string):
    # Access each character of the string in forward direction
    i = 0
    while i < len(string):
        print("Forward:", string[i])
        i += 1
    
    # Access each character of the string in backward direction
    i = len(string) - 1
    while i >= 0:
        print("Backward:", string[i])
        i -= 1

# Example usage
access_characters("Bunty")

Rama bunty
bunty bunty bunty bunty
Forward: B
Forward: u
Forward: n
Forward: t
Forward: y
Backward: y
Backward: t
Backward: n
Backward: u
Backward: B

In [ ]:
# remove the spaces in the string using strip method
# for both side spaces
s="      ramakrushna biswal  "
print(s.strip())

# for left side spaces
s="      ramakrushna biswal     x"
print(s.lstrip())

# for right side spaces
s="      ramakrushna biswal     x"
print(s.rstrip())

ramakrushna biswal
ramakrushna biswal     x
      ramakrushna biswal     x

In [ ]:
# in forward direction finding the substring we use two method find() and index()
# in backward direction we are using two mthods rfind() and rindex()
s="ramakrushna"
print(s.find('k'))
print(s.index('u'))

print(s.rfind('i'))
print(s.rindex('n'))

4
6
-1
9

find() returns 1st index occurance of the substring if it is not available then we will get [-1]

In [ ]:
#write a program to disply all the position of a substring in a given main string
s='Ramakrushna'
print(s.find('krushna'))
print(s.count('a'))

4
3

we can findout the number of occurance of substring present in the given string by using count()