In [2]:
msg='Bunty \n' \
    'is a Good' \
        'Boy'
print(msg)

Bunty
is a GoodBoy

In [3]:
#Calander using python
import calendar
print(calendar.calendar(2024))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [4]:
#addition
a=1+2+3 \ 
    +2+4
print('output',a)

SyntaxError: unexpected character after line continuation character (189688551.py, line 2)

In [ ]:
s1='Rama'
s2="Rama"
s3='''Rama'''
s4="""Rama"""
print(s1,s2,s3,s4)
print(id(s1))#show the memory location of the variable
type(s1)#show The data type

Rama Rama Rama Rama
2957401995056

str

In [ ]:
#comments in pythonðŸ
# the comment is a program readable Exaclamination in python.
#  Comments are added with the putpose of making the source code for humans to understand and ignore by the interpreter.
# -> this is useed to make the line comment out

# for multiline comment we use triple quotes 

""" print("hello Geeks")
    print("hello Geeks")
    print("hello Geeks")
    print("hello Geeks")
"""

'print("hello Geeks")\n    print("hello Geeks")\n    print("hello Geeks")\n    print("hello Geeks")\n'

In [ ]:
x,y='apple',34
print(type(x),type(y))#
a=b=c='bunty'
print(a,b,c)

<class 'str'> <class 'int'>
bunty bunty bunty

In [ ]:
fruits=['apple','banana','orange']
x,y,z=fruits
print(x,y,z)

apple banana orange

In [ ]:
#multiple assignment using list
fruits=['apple','banana',6.45,300]
x,y,z,w=fruits
print(x,y,z,w)

apple banana 6.45 300

In [ ]:
#interview Questions
a,b="pq"
b,c="rs"
print(a,b,c)

p r s

In [ ]:
a=input()
a,type(a)
472

472

In [ ]:
a=int(input("give 1st no:"))
b=int(input("give 2nd no:"))
print("the sum is",a+b)

the sum is 134

In [ ]:
print('the value of a is =',"abc")
print('the value of a is ='+"abc")

the value of a is = abc
the value of a is =abc

In [ ]:
print(1,end="")
print(2,end="")
print(3,end="")

123

In [ ]:
print(1,2,3,4)
print(1,2,3,4,sep='*')
print(1,2,3,4,sep='*',end='#')

1 2 3 4
1*2*3*4
1*2*3*4#

In [ ]:
#Datatypes in pythons
x=10
y="bunty"
z=0.56j
a=3.45
b=['apple','banana','orange']#list
c={'name':'bunty','age':23,'gender':'male'}#dictionary
d=(1,2,3,4,5)#tuple
e=True #Boolean
f=None #none
g = {'apple', 'banana', 'cherry'}#set
h= range(9)
print(h)
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(y[0],y[1],y[2],y[3],y[4])
type(x),type(y),type(z)

range(0, 9)
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'bool'>
<class 'NoneType'>
<class 'set'>
b u n t y

(int, str, complex)

g = {'apple', 'banana', 'cherry'}#set
print(g)
h=set("bunty")
for i in h:
    print(i)
h.add('munty')
print(h)
h.remove('y')
print(h)

In [ ]:
def name():
    a=10
    print(m1())

In [ ]:
#operators
a=12
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)#here it give the output in float
print(a//b)#here it give the output in integer
print(a%b)
print(a**b)

15
9
36
4.0
0
1728
4

In [ ]:
#relational operators
#here the output is in boolean
a=10
b=3
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [ ]:
# logical operators
a=True
b=False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
#bitwise operators
a=10
b=4
print(a&b)
print(a|b)
print(a^b)
print(a<<b)#left shift
print(a>>b)#right shift

0
14
14
160
0

In [5]:
#assignment operators
a=10
a+=3
print(a)
a-=3
print(a)
a*=3
print(a)
a/=3
print(a)
a//=3
print(a)
a**=3
print(a)
a%=3
print(a)

13
10
30
10.0
3.0
27.0
0.0

In [13]:
#special operators
a=10
b=3
print(id(a))
print(id(b))
print(a is b)
print(a is not b)

140728702354504
140728702354280
False
True

In [26]:
#membership operators
a='apple'
b='apple'
print(a in b)
print(a not in b)
#We can take list as membership operators
a=[1,2,3,4,5]
b=[1,2,3,4,5]
print(a in b)
print(a not in b)

True
False
False
True

In [31]:
#Enter two integer from keyboard and perform all the arithmatic operations
# Enter two integers from the keyboard
num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))

# Perform arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
exponentiation = num1 ** num2
modulus = num1 % num2

# Print the results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Exponentiation:", exponentiation)
print("Modulus:", modulus)

Addition: 15
Subtraction: 9
Multiplication: 36
Division: 4.0
Floor Division: 4
Exponentiation: 1728
Modulus: 0

In [5]:
import math 
print(m.pi)
print(m.e)
print(m.tau)
print(m.inf)
print(m.nan)

3.141592653589793
2.718281828459045
6.283185307179586
inf
nan

In [8]:
# write a program to findout the area of the circle
r=int(input("enter the radius of the circle:"))
area=m.pi*r**2
print("the area of the circle is",area)

the area of the circle is 50.26548245743669

In [11]:
#wrtie a program to read employedata from keyboard and prind the data
name=input("enter the name:")
age=int(input("enter the age:"))
salary=float(input("enter the salary:"))
print("the name is",name)
print("the age is",age)
print("the salary is",salary)

the name is Ramakrushna Biswal
the age is 20
the salary is 1200000.0